# Get keys from OpenAI Platform: https://platform.openai.com/api-keys
# Export private key from your Solana wallet and save
# Get keys from CDP Portal: https://portal.cdp.coinbase.com/

# Required
OPENAI_API_KEY=
SOLANA_PRIVATE_KEY=

# Optional
NETWORK_ID=solana-devnet
SOLANA_RPC_URL=
NEXT_PUBLIC_ONCHAINKIT_API_KEY=
CDP_API_KEY_ID=
CDP_API_KEY_SECRET=